.row
  .span12
    .page-header
      %h1= t(".title")
      %ul.tabs
        %li
          = link_to t("links.new", :resource => Transportation.model_name.human), "#/new"

.row
  .span12
    %table#transportations_table.table.table-striped
      %thead
        %tr
          %th= Transportation.human_attribute_name(:name)
          %th.actions
            = link_to "", "#", :class => "icon-refresh", :id => "refresh_transportations", :title => t("links.refresh"), :alt => t("links.refresh")

      %tbody

#pagination-container
