/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require eip
 *= require layout

 *= require_self
 *= require_tree .
 */

textarea {
	white-space: normal;
}

.texto-warning {
	color: #b94a48;
	font-weight: bold;
}

.texto-success {
	color: #468847;
	font-weight: bold;
}

.item_inactivo {
	color: #DA0C0C;
}

.divSecciones .tabSeccion {
	border: solid #CCCCCC;
	border-width: 0px 1px 1px 1px;
	padding: 10px;
}

.sub-item-table {
	font-style: italic;
}

ul#clauses {
	margin-top: 20px;
	list-style: none;
}

ul#clauses li {
	margin-bottom: 5px;
}

div.annex-container {
	border: 1px solid #f3f3f3;
	padding: 5px;
	margin: 0px auto 15px auto;
	height: 250px;
	width: 250px;
}

img.annex-thumb {
	display: block;
	padding: 5px;
	max-height: 250px;
	max-width: 250px;
	margin: auto;
}